.headerContainer {
    position: sticky;
    height: 60px;
    z-index: 1;
    background: white;
    box-shadow: 0 1px 24px 0 rgba(0,0,0,0.15);
  
}

h1 {
    margin-block-start: 0;
}

.logo {
    width: 150px;
    margin-top:0.8%;
    margin-left:0.7%;
}


.Map {
    width : 100%;
    height: 100px;
    margin: 0;
}


.mapContainer {
    height: 100px;
    width: 500px;
}



@media (max-width: 375px) {
    .headerContainer {
        position: sticky;
        height: 60px;
        z-index: 1;
        background: white;
        box-shadow: 0 1px 24px 0 rgba(0,0,0,0.15);
        display:flex;
        justify-content: center;
      
    }


}